/* Estilos base para navegação mobile */
.navegationBar {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    overflow-y: visible;
    background-color: var(--default-white);
    z-index: 3;
}

.navegationBarOpen {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}


.menuItem li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem li a {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black);
    text-decoration: none;
}

.actionsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Media query para dispositivos desktop */
@media screen and (min-width: 768px) {
    .navegationBar {
        height: fit-content;
        flex-direction: row;
        border: none;
        position: static;
        transform: none;

    }

    .menuItem {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        gap: 4rem;
        margin-left: 10rem;
    }

    .menuItem li a {
        height: auto;
    }

    .actionsBtn button img {
        width: 20px;
        height: 30px;
    }

    .headerLogo {
        top: 0;
    }

    .headerLogo img {
        width: 3rem;
        height: 2.5rem;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    .menuItem {
        gap: 2rem;
        margin: auto;
    }



    .navegationBar {
        justify-self: flex-start;
    }


}